__pycache__/
.pytest_cache/
.DS_Store
._.DS_Store

build/
dist/
alpha/
runs/
wandb/
.cache/
.eggs/
lightning_logs/
outputs/
graphgym/datasets/
graphgym/results/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.pt
*.onnx
examples/**/*.png
examples/**/*.pdf
benchmark/results/

!torch_geometric/data/
!test/data


data/*

!data/yeast-LCQ/raw
!data/yeast-ORBI/raw
!data/gastric_all_data/raw
#data/gastric_all_data/raw/embedding

configs/*_grid_*
# any pdf files
*.pdf
library/*
saved_results/*
results/*