data/*
!data/yeast-ORBI/
data/yeast-ORBI/*
!data/yeast-ORBI/raw/
!data/yeast-ORBI/raw/**
!data/yeast-LCQ/
data/yeast-LCQ/*
!data/yeast-LCQ/raw/
!data/yeast-LCQ/raw/**
!data/gastric_all_data/
data/gastric_all_data/*
!data/gastric_all_data/raw/
!data/gastric_all_data/raw/**
#data/gastric_all_data/raw/embedding


__pycache__/
.pytest_cache/
.DS_Store
._.DS_Store

build/
dist/
alpha/
runs/
wandb/
.cache/
.eggs/
lightning_logs/
outputs/
graphgym/datasets/
graphgym/results/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.pt
*.onnx
examples/**/*.png
examples/**/*.pdf
benchmark/results/

!torch_geometric/data/
!test/data


configs/*_grid_*
# any pdf files
*.pdf
library/*
saved_results/*
results/*
*.tiff